<% if user_signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <%= link_to "Profile", user_path(current_user) %>
<% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<h1>All Events</h1>

<h2>Upcoming Events</h2>
<% if @events.upcoming.empty? %>
    <p>No upcoming events</p>
<% else %>
    <% @events.upcoming.each do |event| %>
        <p><%= link_to event.name, event_path(event) %></p>
    <% end %>
<% end %>

<h2>Past Events</h2>
<% if @events.past.empty? %>
    <p>No past events</p>
<% else %>
    <% @events.past.each do |event| %>
        <p><%= link_to event.name, event_path(event) %></p>
    <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>